<div class="container text-center mt-4 w-75">
  <h1 class="h3">Atualizar dados do Produto</h1>
  <form
    class="input-group mt-20"
    [formGroup]="formulario"
    (ngSubmit)="update()"
  >
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="descrição"
        placeholder="Digite a descrição do Produto"
        aria-label="Atualizar Produto"
        aria-describedby="button-addon2"
      />
    </div>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="id"
        placeholder="Digite o id do Produto"
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
      />
    </div>
    <button
      type="submit"
      [disabled]="!formulario.valid"
      class="btn btn-warning btn mb-3"
    >
      Atualizar
    </button>
  </form>
  <div *ngIf="produtosAtualizados$ | async; else error">
    Os dados do Produto foram atualizados com sucesso!
  </div>
</div>
<ng-template #error>
  <div class="text-danger" *ngIf="error$ | async; else vazio">
    Erro ao atualizar o produto ou produto não existe,tente novamente!
  </div>
</ng-template>
<ng-template #vazio> </ng-template>
