
<div class="container text-center mt-4 w-75">

<h1 class="h3">Adicionar um Produto</h1>
<form  [formGroup]="formulario" (ngSubmit)="insert()">
  <div class="input-group ">
    <input type="text" class="form-control"  formControlName="name" placeholder="Digite o nome do Produto" aria-label="Digite um produto" aria-describedby="button-addon2">
    <button class="btn btn-warning btn" type="submit" [disabled]="!formulario.valid" id="button-addon2">Adicionar</button>
  </div>
</form>
  <div class="card mb-4" *ngIf="produtos$ | async as produtos,else Error">
    <div class="card-body d-flex w-100">
      <div class="w-100">
        Produto cadastrado com sucesso!
      </div>
      </div>
    </div>
        <ng-template #Error>
<div  class="text-danger" *ngIf="error$ | async; else vazio">Erro ao salvar produtos,tente novamente!</div>
    </ng-template>
   <ng-template #vazio>
   </ng-template>

  </div>

